<div class="container">


    <section class="header">
        <a href="home.html" class="logo">Guanabaro</a>

        <nav class="navbar">
            <a href="#" routerLink="/usuario/index/">home</a>
            <a href="#" routerLink="/usuario/create/">sobre</a>
            <a href="#">hotéis</a>
            <a href="#">carros</a>
            <a href="#">eventos</a>
            <a href="#">restaurantes</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </section>

    <a href="#" routerLink="/usuario/create/" class="btn btn-success">Criar novo usuario</a>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th width="250px">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.codUser }}</td>
                <td>{{ usuario.nomeUser }}</td>
                <td>{{ usuario.emailUser }}</td>
                <td>
                    <a href="#" [routerLink]="['/usuario/', usuario.codUser, 'view']" class="btn btn-info">Ver</a>
                    <a href="#" [routerLink]="['/usuario/', usuario.codUser, 'edit']" class="btn btn-primary">Editar</a>
                    <button type="button" (click)="deleteUsuario(usuario.codUser)" class="btn btn-danger">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>