@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
 :root {
    --verde1: #99E89D;
    --verde2: #73C883;
    --verde3: #4DA768;
    --verde4: #26874E;
    --verde5: #006633;
}


/* classe mais importante */

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(14, 116, 31);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: space-between;
}

.header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color: black;
}

section {
    display: table;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.container-table {
    display: flex;
    background-color: grey;
}

.sub-menu {
    margin-top: 10px;
    padding: 20px;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.tabela {
    margin-top: 10px;
    padding: 10px;
}

.td-table {
    display: flex !important;
    justify-content: space-between;
}

.tr-table {
    border: black;
}

.th-table {
    border: black;
}

.dados-usuarios {
    justify-content: flex-start;
}