<div class="container">

    <app-menu></app-menu>

    <!-- <section class="header">
        <a routerLink="/usuario/index/" class="logo">Guanabaro</a>

        <nav class="navbar">
            <a href="#" routerLink="/usuario/index/">Usuarios</a>
            <a href="#" routerLink="/empresa/index/">Empresas</a>
            <a href="#" routerLink="/evento/index/">Eventos</a>
            <a href="#">Reservas</a>
            <a href="#">Hoteis</a>
            <a href="#">Restaurantes</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </section> -->



</div>
<br><br><br><br>
<div class="container-table">

    <button routerLink="/usuario/create/" mat-flat-button color="primary">Criar novo Usuário</button>
    <br><br>
    <h2>Usuarios</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th width="250px">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.codUser }}</td>
                <td>{{ usuario.nomeUser }}</td>
                <td>{{ usuario.emailUser }}</td>
                <td>
                    <a href="#" [routerLink]="['/usuario/', usuario.codUser, 'view']" class="btn btn-info">Ver</a>
                    <a href="#" [routerLink]="['/usuario/', usuario.codUser, 'edit']" class="btn btn-primary">Editar</a>
                    <button type="button" (click)="deleteUsuario(usuario.codUser)" class="btn btn-danger">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>