<app-menu></app-menu>
<br><br><br><br>
<div class="container">
    <h1>Atualizar Usuario</h1>

    <a href="#" routerLink="/usuario/index" class="btn btn-primary">Back</a>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="nomeUser">Title:</label>
            <input formControlName="nomeUser" id="nomeUser" type="text" [(ngModel)]="usuario.nomeUser" class="form-control">
            <div *ngIf="f['nomeUser'].touched && f['nomeUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['nomeUser'].errors && f['nomeUser'].errors['required']">Nome is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="emailUser">Body</label>
            <textarea formControlName="emailUser" id="emailUser" type="text" [(ngModel)]="usuario.emailUser" class="form-control">
            </textarea>
            <div *ngIf="f['emailUser'].touched && f['emailUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['emailUser'].errors && f['emailUser'].errors['required']">Email is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="senhaUser">Body</label>
            <textarea formControlName="senhaUser" id="senhaUser" type="text" [(ngModel)]="usuario.senhaUser" class="form-control">
            </textarea>
            <div *ngIf="f['senhaUser'].touched && f['senhaUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['senhaUser'].errors && f['senhaUser'].errors['required']">Senha is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="cpfUser">Body</label>
            <textarea formControlName="cpfUser" id="cpfUser" type="text" [(ngModel)]="usuario.cpfUser" class="form-control">
            </textarea>
            <div *ngIf="f['cpfUser'].touched && f['cpfUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['cpfUser'].errors && f['cpfUser'].errors['required']">Cpf is required.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>