<div class="container">
    <section class="header">
        <a href="home.html" class="logo">Guanabaro</a>

        <nav class="navbar">
            <a href="#" routerLink="/post/index/">home</a>
            <a href="sobre.html">sobre</a>
            <a href="hotel.html">hotéis</a>
            <a href="carro.html">carros</a>
            <a href="evento.html">eventos</a>
            <a href="restaurante.html">restaurantes</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </section>

    <h1>Evento</h1>

    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="nomeEvento">Nome:</label>
            <input formControlName="nomeEvento" id="nomeEvento" type="text" class="form-control">
            <div *ngIf="f['nomeEvento'].touched && f['nomeEvento'].invalid" class="alert alert-danger">
                <div *ngIf="f['nomeEvento'].errors && f['nomeEvento'].errors['required']">Nomeé obrigatorio.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="emailEvento">Email</label>
            <textarea formControlName="emailEvento" id="emailEvento" type="text" class="form-control">
            </textarea>
            <div *ngIf="f['emailEvento'].touched && f['emailEvento'].invalid" class="alert alert-danger">
                <div *ngIf="f['emailEvento'].errors && f['emailEvento'].errors['required']">Email é obrigatorio.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="senhaEvento">Senha</label>
            <textarea formControlName="senhaEvento" id="senhaEvento" type="password" class="form-control">
            </textarea>
            <div *ngIf="f['senhaEvento'].touched && f['senhaEvento'].invalid" class="alert alert-danger">
                <div *ngIf="f['senhaEvento'].errors && f['senhaEvento'].errors['required']">Senha é obrigatoria.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="cpfEvento">Cpf</label>
            <textarea formControlName="cpfEvento" id="cpfEvento" type="password" class="form-control">
            </textarea>
            <div *ngIf="f['cpfEvento'].touched && f['cpfEvento'].invalid" class="alert alert-danger">
                <div *ngIf="f['cpfEvento'].errors && f['cpfEvento'].errors['required']">Senha é obrigatório.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>