<div class="container">
    <br><br><br><br>
    <app-menu></app-menu>

    <div class="sub-menu">
        <h2 style="font-size: 30px; border-bottom: 1px solid black ;">Cadastrar Evento</h2>
        <br>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group" style="margin-bottom: 10px; padding-bottom: 10px;">
            <label for="nomeEvento">Nome do Evento:</label>
            <input formControlName="nomeEvento" id="nomeEvento" type="text" class="form-control">
            <div *ngIf="f['nomeEvento'].touched && f['nomeEvento'].invalid" class="alert alert-danger">
                <div *ngIf="f['nomeEvento'].errors && f['nomeEvento'].errors['required']">Nome é obrigatório.</div>
                <div *ngIf="f['nomeEvento'].errors && f['nomeEvento'].errors['minlength']">Nome é muito curto.</div>
                <div *ngIf="f['nomeEvento'].errors && f['nomeEvento'].errors['maxlength']">Nome é muito grande.</div>
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 10px; padding-bottom: 10px;">
            <label for="categoriaEvento">Categoria do Evento:</label>
            <select formControlName="categoriaEvento" style="display: flexbox; width: 200px; height: 37.8px; border: 1px solid black; border-radius: 0.375rem; padding: 4px;">
                <option  selected disabled>Selecione uma opção: </option>
                <option *ngFor="let i of categoriasEventos" [ngValue]="i" >{{i}}</option>
            </select>
            <div *ngIf="f['categoriaEvento'].touched && f['categoriaEvento'].invalid" class="alert alert-danger">
                <div *ngIf="f['categoriaEvento'].errors && f['categoriaEvento'].errors['required']">Categoria é obrigatória.</div>
            </div>
        </div>

        <mat-form-field style="border-top: 1px solid black; ">
            <mat-label>Data do Evento:</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataEvento" id="dataEvento">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>

        <div class="form-group" style="margin-bottom: 10px; padding-bottom: 10px;">
            <label for="horaEvento">Hora do Evento:</label>
            <input mask="00:00" formControlName="horaEvento" id="horaEvento" type="text" class="form-control" style="width: 70px;">
            <div *ngIf="f['horaEvento'].touched && f['horaEvento'].invalid" class="alert alert-danger">
                <div *ngIf="f['horaEvento'].errors && f['horaEvento'].errors['required']">Hora do Evento é obrigatória.</div>
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 10px; padding-bottom: 10px;">
            <label for="descricao">Descrição:</label>
            <textarea style="border: solid 1px black;" formControlName="descricao" id="descricao" type="password" class="form-control">                
            </textarea>
            <div *ngIf="f['descricao'].touched && f['descricao'].invalid" class="alert alert-danger">
                <div *ngIf="f['descricao'].errors && f['descricao'].errors['required']">Descricao é obrigatório.</div>
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 10px; padding-bottom: 10px;">
            <label for="localidade">Localidade</label>
            <input formControlName="localidade" id="localidade" type="text" class="form-control">
            <div *ngIf="f['localidade'].touched && f['localidade'].invalid" class="alert alert-danger">
                <div *ngIf="f['localidade'].errors && f['localidade'].errors['required']">Localidade é obrigatória.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Cadastrar</button>
    </form>
</div>