@if (!isAdmin) {
<nav>
    <div class="navbar">
        <div class="logo"><a href="#">Guanabaro</a></div>
        <ul class="menu">
            <div style="display: flex; justify-content: space-between; gap: 100px;">
                <div style="display: flex;">
                    <li><a href="#" routerLink="/reserva/index/">Reservas Hotel</a></li>
                    <li><a href="#" routerLink="/eventos/index/">Reservas Evento</a></li>
                    <li><a href="#" routerLink="/eventos/index/">Reservas Restaurantes</a></li>
                    <li><a href="#" routerLink="/eventos/index/">Reservas Carro</a></li>
                </div>

                <div style="display: flex; justify-content: flex-end; ">
                    <li>Bem vindo: <b>{{ usuarioLogadoNoSistema }}</b></li>
                    <li><a href="#" routerLink="/sair" (click)="sair()">Sair<b></b></a></li>
                </div>

            </div>
        </ul>
    </div>
</nav>

} @else {

<!-- Menu do Admin -->
<nav>
    <div class="navbar">
        <div class="logo"><a href="#">Guanabaro</a></div>
        <ul class="menu">
            <div class="itens-menu-admin">
                <li><a routerLink="/usuario/index/">Usuários</a></li>
                <li><a href="#" routerLink="/empresa/index/">Empresas</a></li>
                <li><a href="#" routerLink="/reserva/index/">Reservas Hotel</a></li>
                <li><a href="#" routerLink="/eventos/index/">Reservas Evento</a></li>
                <li><a href="#" routerLink="/eventos/index/">Reservas Restaurantes</a></li>
                <li><a href="#" routerLink="/eventos/index/">Reservas Carro</a></li>
            </div>
            <div class="menu-admin">
                <li>Bem vindo: <b>{{ usuarioLogadoNoSistema }}</b></li>
            </div>
            <div class="sair-menu-admin">
                <li><a href="#" routerLink="/sair" (click)="sair()">Sair<b></b></a></li>
            </div>
        </ul>
    </div>
</nav>
}