<div class="container">
    <br><br><br><br>
    <app-menu></app-menu>

    <div class="sub-menu">
        <h2>Detalhes Eventos</h2>
        <a href="#" routerLink="/eventos/index/" class="btn btn-success">Voltar</a>
        <br><br>
    </div>

    <div>
        <strong>ID:</strong>
        <p>{{ evento.nomeEvento }}</p>
    </div>

    <div>
        <strong>Categoria Evento:</strong>
        <p>{{ evento.categoriaEvento }}</p>
    </div>

    <div>
        <strong>Data Evento:</strong>
        <p>{{ evento.dataEvento }}</p>
    </div>

</div>