<div class="container">
    <section class="header">
        <a href="home.html" class="logo">Guanabaro</a>

        <nav class="navbar">
            <a href="#" routerLink="/post/index/">home</a>
            <a href="sobre.html">sobre</a>
            <a href="hotel.html">hotéis</a>
            <a href="carro.html">carros</a>
            <a href="evento.html">eventos</a>
            <a href="restaurante.html">restaurantes</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </section>

    <h1>Usuario</h1>

    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="nomeUser">Nome:</label>
            <input formControlName="nomeUser" id="nomeUser" type="text" class="form-control">
            <div *ngIf="f['nomeUser'].touched && f['nomeUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['nomeUser'].errors && f['nomeUser'].errors['required']">Nome is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="emailUser">Email</label>
            <textarea formControlName="emailUser" id="emailUser" type="text" class="form-control">
            </textarea>
            <div *ngIf="f['emailUser'].touched && f['emailUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['emailUser'].errors && f['emailUser'].errors['required']">Email is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="senhaUser">Senha</label>
            <textarea formControlName="senhaUser" id="senhaUser" type="password" class="form-control">
            </textarea>
            <div *ngIf="f['senhaUser'].touched && f['senhaUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['senhaUser'].errors && f['senhaUser'].errors['required']">Senha eh obrigatorio.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="cpfUser">Cpf</label>
            <textarea formControlName="cpfUser" id="cpfUser" type="password" class="form-control">
            </textarea>
            <div *ngIf="f['cpfUser'].touched && f['cpfUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['cpfUser'].errors && f['cpfUser'].errors['required']">Senha eh obrigatorio.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>