<div class="container">
    <br><br><br><br>
    <app-menu></app-menu>

    <a href="#" routerLink="/usuario/create/" class="btn btn-success">Criar novo reservaHotel</a>
    <br><br>
    <h2>Criar Empresa</h2>
    <br>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="nomeEmpresa">Nome:</label>
            <input formControlName="nomeEmpresa" id="nomeEmpresa" type="text" class="form-control">
            <div *ngIf="f['nomeEmpresa'].touched && f['nomeEmpresa'].invalid" class="alert alert-danger">
                <div *ngIf="f['nomeEmpresa'].errors && f['nomeEmpresa'].errors['required']">Nome is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="emailEmpresa">Email</label>
            <textarea formControlName="emailEmpresa" id="emailEmpresa" type="text" class="form-control">
            </textarea>
            <div *ngIf="f['emailEmpresa'].touched && f['emailEmpresa'].invalid" class="alert alert-danger">
                <div *ngIf="f['emailEmpresa'].errors && f['emailEmpresa'].errors['required']">Email is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="cnpjEmpresa">Cnpj</label>
            <textarea formControlName="cnpjEmpresa" id="cnpjEmpresa" type="text" class="form-control">
            </textarea>
            <div *ngIf="f['cnpjEmpresa'].touched && f['cnpjEmpresa'].invalid" class="alert alert-danger">
                <div *ngIf="f['cnpjEmpresa'].errors && f['cnpjEmpresa'].errors['required']">Senha eh obrigatorio.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="tipoEmpresa">Tipo Empresa</label>
            <input formControlName="tipoEmpresa" id="tipoEmpresa" type="text" class="form-control" />

            <div *ngIf="f['tipoEmpresa'].touched && f['tipoEmpresa'].invalid" class="alert alert-danger">
                <div *ngIf="f['tipoEmpresa'].errors && f['tipoEmpresa'].errors['required']">Senha eh obrigatorio.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>