<div class="container">
    <br><br><br><br>
    <app-menu></app-menu>

    <div class="sub-menu">
        <h2>Reservas Eventos</h2>
        <button href="#" routerLink="/evento/create/" class="btn btn-success btn-reserva">Criar Reserva Evento</button>
        <br><br>
    </div>
    <br>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Data</th>
                <th>Categoria do Evento</th>
                <th>Onde</th>
                <th width="250px">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let evento of eventos; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ evento.nomeEvento }}</td>
                <td>{{ evento.dataEvento | date: 'dd/MM/yyyy' }}</td>
                <td>{{ evento.categoriaEvento }}</td>
                <td>{{ evento.localidade }}</td>
                <td>
                    <a href="#" [routerLink]="['/eventos/', evento.codEvento, 'edit']" class="btn btn-primary">Editar</a>
                    <button type="button" (click)="deleteEvento(evento.codEvento)" class="btn btn-danger">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>