<div class="container">

    <br><br><br><br>
    <app-menu></app-menu>

    <h1>Criar Usuário</h1>


    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="nomeUser">Usuário:</label>
            <input formControlName="nomeUser" id="nomeUser" type="text" class="form-control">
            <div *ngIf="f['nomeUser'].touched && f['nomeUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['nomeUser'].errors && f['nomeUser'].errors['required']">Usuário é obrigatório.</div>
                <div *ngIf="f['nomeUser'].errors && f['nomeUser'].errors['minlength']">Usuário muito curto.</div>
                <div *ngIf="f['nomeUser'].errors && f['nomeUser'].errors['maxlength']">Usuário muito grande.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="emailUser">Email:</label>
            <input formControlName="emailUser" id="emailUser" type="text" class="form-control">
            <div *ngIf="f['emailUser'].touched && f['emailUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['emailUser'].errors && f['emailUser'].errors['required']">Email é obrigatório.</div>
                <div *ngIf="f['emailUser'].errors && f['emailUser'].errors['email']">Email incorreto.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="senhaUser">Senha:</label>
            <input formControlName="senhaUser" id="senhaUser" type="password" class="form-control">

            <div *ngIf="f['senhaUser'].touched && f['senhaUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['senhaUser'].errors && f['senhaUser'].errors['required']">Senha é obrigatória.</div>
                <div *ngIf="f['senhaUser'].errors && f['senhaUser'].errors['pattern']"> 8 caracteres com no mínimo com 1 número, 1 símbolo e uma letra em maiúscula.</div>

            </div>
        </div>

        <div class="form-group">
            <label for="cpfUser">Cpf: (Somente números)</label>
            <input mask="000.000.000-00" formControlName="cpfUser" id="cpfUser" type="text" class="form-control">
            <div *ngIf="f['cpfUser'].touched && f['cpfUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['cpfUser'].errors && f['cpfUser'].errors['required']">Cpf é obrigatório.</div>
                <div *ngIf="f['cpfUser'].errors && f['cpfUser'].errors['pattern']">Cpf incorreto.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Salvar</button>
    </form>
</div>