<div class="container">

    <br><br><br><br>
    <app-menu></app-menu>

    <h1>Criar Usuário</h1>


    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="nomeUser">Nome:</label>
            <input formControlName="nomeUser" id="nomeUser" type="text" class="form-control">
            <div *ngIf="f['nomeUser'].touched && f['nomeUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['nomeUser'].errors && f['nomeUser'].errors['required']">Nome é obrigatório.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="emailUser">Email</label>
            <textarea formControlName="emailUser" id="emailUser" type="text" class="form-control">
            </textarea>
            <div *ngIf="f['emailUser'].touched && f['emailUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['emailUser'].errors && f['emailUser'].errors['required']">Email é obrigatório.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="senhaUser">Senha</label>
            <textarea formControlName="senhaUser" id="senhaUser" type="password" class="form-control">
            </textarea>
            <div *ngIf="f['senhaUser'].touched && f['senhaUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['senhaUser'].errors && f['senhaUser'].errors['required']">Senha é obrigatória.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="cpfUser">Cpf</label>
            <textarea formControlName="cpfUser" id="cpfUser" type="password" class="form-control">
            </textarea>
            <div *ngIf="f['cpfUser'].touched && f['cpfUser'].invalid" class="alert alert-danger">
                <div *ngIf="f['cpfUser'].errors && f['cpfUser'].errors['required']">Cpf é obrigatório.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Salvar</button>
    </form>
</div>