<div class="container">
    <br><br><br><br>
    <app-menu></app-menu>

    <h1>Detalhes Reserva</h1>

    <a href="#" routerLink="/reserva/index" class="btn btn-primary">Back</a>

    <div>
        <strong>Data Reserva:</strong>
        <p>{{ reserva.dataReserva | date: 'dd/MM/yyyy' }}</p>
    </div>

    <div>
        <strong>Tipo Quarto:</strong>
        <p>{{ reserva.tipoQuarto }}</p>
    </div>

    <div>
        <strong>Usuário:</strong>
        <p>{{ reserva.nomeUsuarioReserva }}</p>
    </div>
    <div>
        <strong>Empresa:</strong>
        <p>{{ reserva.codEmpresa }}</p>
    </div>

    <div>
        <strong>URL Redirecionamento:</strong>
        <p>{{ reserva.urlRedirecionamento }}</p>
    </div>


</div>