<div class="container">
    <app-menu></app-menu>
    <br><br><br><br>
    <h1>Reserva Hotel</h1>


    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="dataReserva">Data</label>
            <input formControlName="dataReserva" id="dataReserva" type="text" class="form-control">
            <div *ngIf="f['dataReserva'].touched && f['dataReserva'].invalid" class="alert alert-danger">
                <div *ngIf="f['dataReserva'].errors && f['dataReserva'].errors['required']">Data é obrigatorio.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="tipoQuarto">Tipo Quarto</label>
            <textarea formControlName="tipoQuarto" id="tipoQuarto" type="text" class="form-control">
            </textarea>
            <div *ngIf="f['tipoQuarto'].touched && f['tipoQuarto'].invalid" class="alert alert-danger">
                <div *ngIf="f['tipoQuarto'].errors && f['tipoQuarto'].errors['required']">Tipo Quarto é obrigatorio.</div>
            </div>
        </div>

        <mat-form-field>
            <mat-label>Empresas</mat-label>
            <select #team matNativeControl required (change)="onSelected(team.value)">
                <option *ngFor="let i of empresas">{{i.nomeEmpresa}}</option>
            </select>
        </mat-form-field>

        <!-- <div class="form-group">
            <label for="codEmpresa">Empresa</label>
            <textarea formControlName="codEmpresa" id="codEmpresa" type="password" class="form-control">
            </textarea>
            <div *ngIf="f['codEmpresa'].touched && f['codEmpresa'].invalid" class="alert alert-danger">
                <div *ngIf="f['codEmpresa'].errors && f['codEmpresa'].errors['required']">Código empresa é obrigatório.</div>
            </div>
        </div> -->

        <div class="form-group">
            <label for="codUsuario">Id Usuario</label>
            <textarea formControlName="codUsuario" id="codUsuario" type="text" class="form-control">
            </textarea>
            <div *ngIf="f['codUsuario'].touched && f['codUsuario'].invalid" class="alert alert-danger">
                <div *ngIf="f['codUsuario'].errors && f['codUsuario'].errors['required']">Código Usuario é obrigatório.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="nomeUsuarioReserva">Nome do Usuario</label>
            <textarea formControlName="nomeUsuarioReserva" id="nomeUsuarioReserva" type="text" class="form-control">
            </textarea>
            <div *ngIf="f['nomeUsuarioReserva'].touched && f['nomeUsuarioReserva'].invalid" class="alert alert-danger">
                <div *ngIf="f['nomeUsuarioReserva'].errors && f['nomeUsuarioReserva'].errors['required']">Nome Usuario é obrigatório.</div>
            </div>
        </div>



        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Salvar</button>
    </form>
</div>