<div class="container">
    <app-menu></app-menu>
    <br><br><br><br>
    <h1>Reserva</h1>


    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="dataReserva">Data</label>
            <input formControlName="dataReserva" id="dataReserva" type="text" class="form-control">
            <div *ngIf="f['dataReserva'].touched && f['dataReserva'].invalid" class="alert alert-danger">
                <div *ngIf="f['dataReserva'].errors && f['dataReserva'].errors['required']">Data é obrigatorio.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="usuario">Usuário</label>
            <textarea formControlName="usuario" id="usuario" type="text" class="form-control">
            </textarea>
            <div *ngIf="f['usuario'].touched && f['usuario'].invalid" class="alert alert-danger">
                <div *ngIf="f['usuario'].errors && f['usuario'].errors['required']">Usuário é obrigatorio.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="empresa">Empresa</label>
            <textarea formControlName="empresa" id="empresa" type="password" class="form-control">
            </textarea>
            <div *ngIf="f['empresa'].touched && f['empresa'].invalid" class="alert alert-danger">
                <div *ngIf="f['empresa'].errors && f['empresa'].errors['required']">Empresa é obrigatoria.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="tipoQuarto">Tipo Quarto</label>
            <textarea formControlName="tipoQuarto" id="tipoQuarto" type="password" class="form-control">
            </textarea>
            <div *ngIf="f['tipoQuarto'].touched && f['tipoQuarto'].invalid" class="alert alert-danger">
                <div *ngIf="f['tipoQuarto'].errors && f['tipoQuarto'].errors['required']">Tipo Quarto é obrigatoria.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>