<div class="container">


    <app-menu></app-menu>

    <a href="#" routerLink="/empresa/create/" class="btn btn-success">Criar novo empresa</a>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th width="250px">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empresa of empresas">
                <td>{{ empresa.codEmpresa }}</td>
                <td>{{ empresa.nomeEmpresa }}</td>
                <td>{{ empresa.emailEmpresa }}</td>
                <td>
                    <a href="#" [routerLink]="['/empresa/', empresa.codEmpresa, 'view']" class="btn btn-info">Ver</a>
                    <a href="#" [routerLink]="['/empresa/', empresa.codEmpresa, 'edit']" class="btn btn-primary">Editar</a>
                    <button type="button" (click)="deleteEmpresa(empresa.codEmpresa)" class="btn btn-danger">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>