.btn-login {
    background-color: rgba(34, 184, 23);
}

.btn-reserva {
    background-color: rgba(34, 184, 23);
}

.login-page {}

body {
    /* font-family: 'Eastman Grotesque Trial', sans-serif; */
    /* height: 200px; */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(34, 184, 23));
}

input[type=text]:focus {
    border: 1px solid black;
}

input[type=text] {
    border: 1px solid black;
}

input[type=password] {
    border: 1px solid black;
}

input[type=number] {
    border: 1px solid black;
}

input[type=textarea] {
    border: 1px solid black;
}

textarea {
    border: 3px solid black;
}

.form-group {
    max-width: 300px;
}

.butoes-modal {
    display: flex;
    justify-content: space-around;
}

nav {
    margin-left: 1px;
    padding-left: 1px;
}